element {
	color: red;
}

body {
	display: inline-block;
	margin: 0;
	font-family: sans-serif;
}

#body {
	padding: 1.5rem;
}

#body h1 {
	margin: 0;
	font-size: 3rem;
}

#body p {
	font-size: 1rem;
}